@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Established in 2011, KITH operates on two planes - a multifunctional lifestyle brand for both men and women, and a progressive retail establishment. Our three brick-and-mortar flagship stores were designed in partnership with Snarkitecture, as we push the boundaries to deliver customers a completely unique experience. We offer an array of premium product, ranging from our own in-house label to a curated selection of multi-brand apparel and footwear. 

KITH was founded by Ronnie Fieg, a prominent figure in the footwear industry, who has over twenty years of hands-on experience. Born and raised in Queens, Fieg has been involved with footwear since becoming a stock boy at New York-based franchise David Z. at age 12. With steadfast perseverance, he methodically rose through the ranks from floor salesman to assistant manager to eventually becoming head buyer. Conceptualizing KITH as an extension of himself, Fieg seeks to shift the current landscape of fashion, while operating under a personal philosophy of giving the consumer more than what they pay for.

.</p>
