@{
    ViewBag.Title = "Home Page";
}









<div class="jumbotron">

    <div class="jumbotron text-center">
        <video id="video-background" preload="" muted="" autoplay="" loop="">
            <source src="~/Content/video/My Edited Video.mp4" type="video/mp4">
        </video>

</div>


        <p class="lead"></p>

    </div>
    <div class="features">


        <p class="copy">




        </p>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <i class="glyphicon glyphicon-heart"></i>
                    <h4> Hope's vintage</h4>

                    <p class="arranging">
                        <div class="textbox">
                            ASP.NET MVC gives you a powerful,
                        </div>

                    </p>

                </div>

                <div class="col-md-3">
                    <i class="glyphicon glyphicon-tag"></i>
                    <h4> Hope's vintage</h4>

                    <p class="arranging">
                        <div class="textbox2">
                            ASP.NET MVC gives you a powerful,
                        </div>
                    </p>

                </div>


                <div class="col-md-3">
                    <i class="glyphicon glyphicon-tag"></i>
                    <h4> Hope's vintage</h4>

                    <p class="arranging">
                        <div class="textbox">
                            ASP.NET MVC gives you a powerful,
                        </div>
                    </p>

                </div>


                <div class="col-md-3">
                    <i class="glyphicon glyphicon-tag"></i>
                    <h4> Hope's vintage</h4>

                    <p class="arranging">
                        <div class="textbox2">
                            patterns-based way to build dynamic websites that
                        </div>

                    </p>

                </div>


                <div class="vintage">
                    <ul class="models">
                        <li>
                            <figure class="model-photo">
                                <img src="~/Content/images/indie3.jpg" />


                            </figure>
                        </li>

                        <li>
                            <figure class="model-photo">
                                <img src="~/Content/images/indie3.jpg" />


                            </figure>
                        </li>

                        <li>
                            <figure class="model-photo">
                                <img src="~/Content/images/indie3.jpg" />


                            </figure>
                        </li>


                        <li>
                            <figure class="model-photo">
                                <img src="~/Content/images/indie3.jpg" />


                            </figure>
                        </li>

                        <li>
                            <figure class="model-photo">
                                <img src="~/Content/images/indie3.jpg" />


                            </figure>
                        </li>

                        <li>
                            <figure class="model-photo">
                                <img src="~/Content/images/indie3.jpg" />


                            </figure>
                        </li>

                        <li>
                            <figure class="model-photo">
                                <img src="~/Content/images/indie3.jpg" />


                            </figure>
                        </li>

                        <li>
                            <figure class="model-photo">
                                <img src="~/Content/images/indie3.jpg" />


                            </figure>
                        </li>

                        <li>
                            <figure class="model-photo">
                                <img src="~/Content/images/indied3.jpg" />


                            </figure>
                        </li>



                    






                    </ul>



                    
                </div>
            </div>

        </div>
    </div>


